
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '/components/Login';
@import '/components/User';
@import '/components/Profile';
@import '/components/LoginHeader';
@import '/components/ActionInMain';

body, html, #Login {
  height: 100%;
}

.width-100{
  width: 100%;
}

.height-100{
  height: 100%;
}

.font-bold{
  font-weight: bold;
}